body{
    background-color:#D87C28;
    color:#FFFFFF;

 }

 h1{
    font-family: 'Montserrat', sans-serif;
    color:#64342D;
    font-size: 100px;
    border: 50px solid #F3C9A2
    

 }

#quadrado1{
    width: 550px;
    height: 225px;
    background-color: #F3C9A2;

}

#imagem-do-dog{
    position: absolute;
    width: 225px;
    height: 225px;
    left: 500px;
    top: 67px;
}

#textinho-do-lado{
    
}
 /*é do Gabriel*/